.homepage {
	background-image: url('../img/3.png');
	background-size: cover;
}

body {
	text-align: middle;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

#squares {
	position: relative;
	margin: auto;
	width: 500px;
	height: 500px;
}

.square {
	background-color: rgba(0, 0, 0, 0.25);
	margin: auto;
	border: solid 13px white;
	transition: all .2s ease-in-out;
}

.square:hover {
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	transform: scale(1.1);
}

.square-small {
	width: 25%;
	height: 25%;
}

.square-large {
	width: 46.66666666%;
	height: 46.66666666%;
}

#square1 {
	position: absolute;
	top: 21.66666666%;
	left: 21.66666666%;
}

#square2 {
	position: absolute;
	top: 0;
	left: 53.33333333%;
}

#square3 {
	position: absolute;
	top: 53.33333333%;
	left: 0;
}

#square4 {
	position: absolute;
	top: 53.33333333%;
	left: 53.33333333%;
}

.content {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 0;
	height: 0;
	background-color: white;
}