.homepage {
	background-image: url('../img/3.png');
	background-size: cover;
}

body {
	text-align: middle;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    text-align: center;
    margin: 0 auto;
    user-select: none;
}

#squares {
	display: inline-block;
	position: relative;
	margin: 0 !important;
	width: 500px;
	height: 500px;
	z-index: 1;
}

.square {
	background-color: rgba(0, 0, 0, 0.25);
	margin: auto;
	border: solid 13px white;
	transition: all .2s ease-in-out;
}

.square:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.square-small {
	width: 25%;
	height: 25%;
}

.square-large {
	width: 46.66666666%;
	height: 46.66666666%;
}

#square1 {
	position: absolute;
	top: 21.66666666%;
	left: 21.66666666%;
}

#square2 {
	position: absolute;
	top: 0;
	left: 53.33333333%;
}

#square3 {
	position: absolute;
	top: 53.33333333%;
	left: 0;
}

#square4 {
	position: absolute;
	top: 53.33333333%;
	left: 53.33333333%;
}

.content {
	box-shadow: 7px 9px 9px 1px rgba(0, 0, 0, 0.31);
	position: absolute;
	left: 10%;
	top: 10%;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.25);
	border: solid 13px white;
	display: none;
}

.name {
	margin-left: -100px;
	height: 500px;
	vertical-align: top;
	filter: grayscale(100%);
	z-index: 0;
}

.caption {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	vertical-align: middle;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease 0.5s;
	font-size: 25px;
}

.square:hover > .caption {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.5);
}